

<div style="height: 70vh;" class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <form action="/home/submitcheckbox">
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <div class="row">
                <div class="col-md-1">
                    <input type="checkbox" value="true" name="isawesome" class="form-control" />
                </div>
                <div class="col-md-2">
                    Is Awesome
                </div>
            </div>
            <button class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
